body {
    background: #F3904F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
#brand {
    color:rgb(10, 99, 233) ;
    background-blend-mode: multiply;
    display: block;
    margin-left: auto;
    margin-right: auto;}


.navbar-brand{
    font-size: 2rem;
 align-self: center;
 justify-self: end;
 justify-content: center;
}
.ranchers-regular {
  font-family: "Ranchers", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.dropdown-item{
    font-family: "Rancher",system-ui;
    font-size: 1.6rem;
    color:rgb(10, 99, 233) ;

}
.columns{
   
    margin-right: 5rem auto;
	width: min(95%, 80rem);
	display: grid;
	grid-template-columns: 33% 33% 33%;
}

.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;

}

h1{
font-family: "Knewave", system-ui;
    font-size: 3.6rem;
    color:rgb(10, 99, 233) ;
   text-align: center;}

h5{
    font-family: "Knewave", system-ui;
    font-size: 2.7rem;
    color:rgb(10, 99, 233) ;}
p{
    font-family: "Knewave", system-ui;
    font-size: 2rem;
    color:rgb(10, 99, 233) ;
}
