 body {
    background: #F3904F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
#brand {
   font-family: "Ranchers",system-ui;
   font-size: 2rem;
   color:rgb(10, 99, 233);  
   display: block;
   margin-left: auto;
   margin-right: auto;
}


.navbar-brand{
 font-family: "Ranchers",system-ui;
 color:rgb(10, 99, 233);
 font-size: 2rem;
 align-self: center;
 justify-self: end;
 justify-content: center;

}
.ranchers-regular {
  font-family: "Ranchers", system-ui;	
  font-weight: 400;
  font-style: normal;
}
.dropdown-item{
    font-family: "Ranchers",system-ui;
    font-size: 1.6rem;
    color:rgb(10, 99, 233) ;

}
.columns{
   
    margin-right: 50rem auto;
    margin-left:50rem auto;
    width: min(95%, 95rem);
    display: grid;
    grid-template-columns: 45% 45% 45%;
	
	
}

.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;

}

h1{
font-family: "Knewave", system-ui;
    font-size: 3.6rem;
    color:rgb(10, 99, 233) ;
   text-align: center;}

h5{
    font-family: "Knewave", system-ui;
    font-size: 2.7rem;
    color:rgb(10, 99, 233) ;}
p{
    font-family: "Knewave", system-ui;
    font-size: 2rem;
    color:rgb(10, 99, 233) ;
}
.card-img-top{
    display: grid;
 margin: auto;
    width: 60%;
height: 60%;
}

.card-img-overlay{
    display: grid;
    width: min(80%,80%);
    height: 50%;
	 align-self: center;
 justify-content: center;
}

.card{
    display: grid;
    width: min(80%,80%);
    height: 50%;
	 align-self: center;
 justify-content: center;
}

.card-body{
background-color: antiquewhite;
}

.logo-group{
    width: 10rem;
    height: 10rem;
	margin-left: auto;
    margin-right: auto;
justify-content: left;}

.container{
    display: grid;
  justify-content:center;
  align-content: center; 
   margin: auto;
}
