

html {
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%; 
}

body{ 
  width: 100%;
  height: 100%;
  background: #00B4DB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-brand{
    margin-right: auto;
    font-family: "Ranchers",system-ui;
    font-size: var(--font-size-base-md);
    color:rgb(51, 206, 255) ;

}



.ranchers-regular {
  font-family: "Ranchers", system-ui;
  font-weight: 400;
  font-style: normal;
}
.offcanvas-body{
	 font-family: "Ranchers",system-ui;
    font-size: var(--font-size-md);
    color:rgb(51, 206, 255) ;
background-color: wheat;
}

.offcanvas-header{
	 font-family: "Ranchers",system-ui;
    font-size: var(--font-size-lg);
    color:rgb(51, 206, 255) ;}


.nav-item {
	font-family: "Ranchers", system-ui;
	font-size:3.5rem;
	 color:rgb(51, 206, 255) ;}
.nav-link{
	font-family: "Ranchers", system-ui;
	font-size:3.5rem;
	 color:rgb(51, 206, 255) ;}

.dropdown-item{
    font-family: "Ranchers",system-ui;
    font-size: 1.3rem;
    color:rgb(51, 206, 255) ;
}



h1{
    font-family: "Ranchers",system-ui;
    font-size: 5.9rem;
    color:rgb(51, 206, 255) ;
    text-align: center;
}
h2{
    font-family: "Ranchers",system-ui;
    font-size: 4.6rem;
    color:rgb(51, 206, 255) ;
    text-align: center;
}


h3{
    font-family: "Ranchers",system-ui;
    font-size: 5.4rem;
    color:rgb(51, 206, 255) ;
    text-align: center;
}

main {
	display:grid;
	gap:1rem;
}

.cards{
	container-type: inline size;
	gap:5rem;
	margin-left: auto;
	margin-right: auto;	}

.card{
	display: grid;
	gap: 1rem;
	border-radius: 1em;
	background-color: wheat;
	
}

@media (min-width:760px){
	main{
		grid-template-columns: 1fr 300px;
	}
}

@container (width > 45ch) {

	.card{
		grid-template-columns:
			auto minmax(25ch, 1fr);
	}
	.card h5 {grid-column: 1 / -1}
} 


	
	








.card-img-overlay{
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;   
}

h5{
    font-family: "Ranchers",system-ui;
    font-size: 3rem;
    color:rgb(51, 206, 255) ;
    text-align:center;

}
p{
    font-family: "Ranchers",system-ui;
    font-size: 2rem;
    color:rgb(51, 206, 255) ;
}


/* From Uiverse.io by cssbuttons-io */ 

 .button-glow{
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .20em solid var(--glow-color);
    padding: .5em 2.5em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.card-img{
	 display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    height: 75%;}
   
   .button-glow::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .button-glow:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   .button-glow:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }
   






